.top-left-gallery{
    background-image: url("../category/adv-banner-img1.dd9ad587.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;
}
.top-header{
    margin-left: 10rem;
    font-weight: 600;
}
.bottom-left-gallery{
    background-image: url("../category/adv-banner-img3.842e0532.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;
    margin-top: 15px;
}
.bottom-header{
    margin-right: 8rem;
    font-weight: 600;
}
.right-season{
    background-image: url("../category/adv-banner-img2.c3839e39.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 52vw;
    min-height: 100vh;
}
.right-banner-header{
    font-size: 100px;
}
